.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.golden{
    color : gold;
}
hr{
    margin:0;
}
nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav > ul > li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    padding: 10px 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    padding-bottom: 10px;
}

nav ul li ul li a {
    color: #000;
}

#content{
    width: 100%;
    padding: none;
    margin: none;
}

form{
    display: flex;
    flex-direction: column;
}
.picture{
    position: relative;
    z-index: -1;
}
.Contact{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: Helvetica;
    text-align: center;
}
.Contact > h1{
    font-size: 30px;
}
.Contact > p{
    font-size: 15px;
}
.data{
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 40px;
}

label{
    padding-top: 10px;
    padding-bottom: 10px
}

input {
    padding-bottom: 5px;
}
select{
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea{
    height: 100px;
    margin-bottom: 20px;
}

button{
    background-color: grey;
    color:white;
    border: none;
    width: fit-content;
    padding:5px 10px;
}

button:hover {
    background: #333;
}
footer {
    padding: 10px 0px 0px 0px;
    margin: 0px;
    color: white;
    background-color: #333c4e;
}
.sub-1{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

section > ul{
    list-style: none;
    padding: 0px;
}
.date{
    font-family: sans-serif;
    font-style: italic;
    font-size: 12px;
}
section > ul > li{
    padding-bottom: 10px;
}

.sub-2{
    display: flex;
    justify-content: space-between;
    padding: 0 12.5%;
}

.sub-2 > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.sub-2 > ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
